.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.communitypage-container {
  border-bottom: 1px solid grey;
  width: 500px;
}

.communitypage-container__top {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.communitypage-top__left > h2 {
  margin-bottom: 0px;
}

.communitypage-content__thumb {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.communitypage-bottom__content {
  display: flex;
}

.communitypage-bottom__detail {
  display: flex;
  justify-content: end;
}

.communitypage-container__user {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.user__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.communitypage-container__title {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}

.communitypage-container__content {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  margin-top: 30px;
}
