.main-container {
  width: 100%;
  height: 100%;
}

/*날씨*/

.main-weather {
  width: 100%;
  height: 50vh;
  position: relative;
}

.main-top__weather img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-top__weather h1 {
  color: rgb(235, 235, 235);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.main-weather p {
  color: rgb(235, 235, 235);
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*아래*/
.main-container__bottom {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
}

.main-bottom__left {
  margin: 50px;
  width: 650px;
  height: 300px;
  position: relative;
}

.main-bottom__left__img p {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.main-bottom__left__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-bottom__right {
  margin: 50px;
  width: 650px;
  height: 300px;
  position: relative;
}

.main-bottom__right__img p {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.main-bottom__right__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
