* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.mypage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* 버튼 스타일(전역) */
.mypage-btn {
  font-size: 1rem;
  font-weight: bold;
  margin:0.5rem 0 0 0;
  padding: 0.5rem 2rem;
  cursor: grab;
  border:rgb(255, 255, 255);
  border-radius: 0.2rem;
  transition:0.15s; 
  background-color: rgb(255, 255, 255);
  color:#0EA958;
}

.mypage-btn:hover {
  background: #e6e7e7;
}

.greenbtn {
  background-color: #0EA958;
  color:rgb(255, 255, 255);
}

.greenbtn:hover {
  background: #68c696;
}

.mypage-btnUnderline {
  font-size: 1rem;
  text-decoration: underline;
  color:#0EA958;
  background-color: #EEEEEE;
  border: none;
}

button.mypage-btnUnderline {
  cursor: pointer;
  transition:0.1s; 
}
button.mypage-btnUnderline:hover {
  color: #28de80;
}

.redbtn {
  background-color: rgb(247, 103, 103);
  color:white;
  margin: 0;
}

/* mypage-화면상단 */
.mypage-container__top {
  display: flex;
  flex-direction: row;
  width: 600px;
}

/* 프로필 사진 */
.mypage-container__topleft {
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 250px;
}

.mypage-container__topleft > img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

/* 닉네임, 아이디, 자기소개 */
.mypage-container__topright {
  flex-basis: 450px;
}

.mypage-wrapper__topright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0 0 2rem;
}

.mypage-topright__nickname {
  margin-top:1rem;
}

.mypage-topright__nickname span:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: bold;
}
.mypage-topright__introduce {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(126, 123, 123);
  margin: 0.5rem 0;
  text-align: left;
  max-height: 80px;
}

/* 닉네임 & 자기소개 (콘텐츠 수정화면) */
.mypage-inputForm__topright {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: flex-end;
}

.mypage-inputForm__nickname {
  font-size: 1.5rem;
  color:rgb(82, 79, 79);
  width: 400px;
  height: 40px;
  border: solid rgb(197, 193, 193) 1px;
  border-radius: 3px;
  background-color: #EEEEEE;
}

.mypage-inputForm__introduce{
  font-size: 1rem;
  color:rgb(82, 79, 79);
  width: 400px;
  height: 30px;
  border: solid rgb(197, 193, 193) 1px;
  border-radius: 3px;
  background-color: #EEEEEE;
}

/* mypage-화면 하단 */
.mypage-container__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content:center;
  align-items: center;
}

.mypage-bottom__wrapper {
  display: flex;
  flex-direction: row;
  width: 630px;
}

.mypage-bottomleft__title {
  flex-basis: 150px;
  margin: 1rem;
  font-size: 1rem;
  text-align: left;
}

.mypage-bottomright__content {
  flex-basis: 450px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* 주활동지역 */
.mypage-bottomright__content {
  display: flex;
  flex-direction: column;
  /* flex-basis: 450px; */
}

.mypage-bottomright__content-activityArea {
  display: flex;
  width: 450px;
  flex-direction: row;
  border: solid rgb(197, 193, 193) 1px;
  border-radius: 10px;
  align-items: center;
  justify-content:flex-start;
  padding-left: 8px;
  flex-wrap: wrap;
}

ul.mypage-bottomright__activityAreas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
}

li.mypage-bottomright__activityArea {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  list-style: none;
  background-color: #0EA958;
  margin: 0 5px 5px 0;
  border-radius: 6px;
  padding: 6px 6px;
  font-size: 0.8rem;
  font-weight: 700;
}

.mypage-bottomright__activityArea-name{
  font-size: 1rem;
}

.mypage-bottomright__activityArea-closeicon{
  margin-left: 8px;
  background-color:#fff;
  color:#0EA958;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.mypage-bottomright__activityAreaInput {
  border: none;
  font-size: 1rem;
  height: 35px;
  flex: 1;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: #EEEEEE;
  color:rgb(82, 79, 79);
  outline: none;
}

.mypage-bottomright__areainput:focus {
  outline: transparent;
}

.mypage-bottomright__areainput:focus-within {
  border: 1px solid (82, 79, 79);
}

/* 주활동지역 - 자동완성 */
.mypage-bottomright__autoCompleteContainer {
  display: flex; 
  flex-direction: row;
  width: 450px;
  align-items: center;
  flex-wrap: wrap; 
  position:absolute;
  border-radius: 5px ;
  top:28rem;
  box-shadow: 0 4px 6px rgb(32 33 36 / 15%);
}

.mypage-bottomright__autoComplete {
  background-color: white;
  color:rgb(82, 79, 79);
  font-weight: 600;
  list-style-type: none;
  margin: 0.2rem 0.2rem;
  padding: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.mypage-bottomright__autoComplete:hover {
  background-color:#b9f3bb;
  transition: 0.5s;
}


/* 비밀번호 변경 */
.mypage-bottomright__passwordForm {
  display: flex;
  flex-direction: column;
}

.mypage-bottomright__pwFormContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.mypage-bottomright__pwFormWrapper{
  display: flex;
  flex-direction:column;
  list-style: none;
}

.mypage-bottomright__pwFormWrapper p {
  color:gray;
  text-align: left;
  font-size: 0.9rem;
}

.mypage-bottomright__pwDescription {
  font-size: 1rem;
  color:rgb(129, 126, 126);
  text-align: left;
  margin-top: 0.2rem;
}
.mypage-bottomright__pwInput {
  font-size: 1.5rem;
  border: rgb(166, 163, 163) solid 1px;
  border-radius: 3px;
  padding-left: 0.5rem;
  width:400px;
  background-color: #EEEEEE;
}

.mypage-bottomright__buttonwrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/* 회원정보 삭제 */
.mypage-bottomright__deleteAccountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mypage-bottomright__deleteAccountWrapper > button {
  margin: 0.7rem 0;
  flex-basis: 30px;
}
.mypage-bottomright__deleteAccountDescription {
  font-size: 0.9rem;
  color:rgb(129, 126, 126);
}

.mypage-bottomright__ModalBackground {
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.mypage-bottomright__ModalView {
  height: 12rem;
  width: 20rem;
  background: #EEEEEE;
  padding: 2rem;
  border-radius: 10px;
}

.mypage-bottomright__ModalView > h3 {
  margin-bottom: 1rem;
  text-align: left;
}

.mypage-bottomright__ModalMsg {
  margin-bottom: 1rem;
  text-align: left;
}

.mypage-bottomright__ModalButtonArea {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin-top: 1.5rem;
}